/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 8, ../components/sass/style.scss */
body {
  font-family: 'PT Sans', sans-serif; }

/* line 9, ../components/sass/style.scss */
a {
  text-decoration: none;
  color: #d5618b;
  transition: all 0.3s ease; }
/* line 13, ../components/sass/style.scss */
a:hover {
  color: #535353; }

/* line 17, ../components/sass/style.scss */
.h_phone {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  margin-left: 25.42373%;
  margin-top: 10px; }
/* line 21, ../components/sass/style.scss */
.h_phone p {
  margin-top: -33px;
  margin-left: 10px;
  color: #d5618b; }
/* line 26, ../components/sass/style.scss */
.h_phone a {
  margin-top: 23px;
  margin-left: 10px;
  display: inline-block; }
/* line 31, ../components/sass/style.scss */
.h_phone img {
  width: 100%; }

/* line 35, ../components/sass/style.scss */
.h_logo {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%; }
/* line 38, ../components/sass/style.scss */
.h_logo img {
  width: 100%; }

/* line 42, ../components/sass/style.scss */
.h_feedback {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  margin-top: 10px; }
/* line 45, ../components/sass/style.scss */
.h_feedback p {
  margin-top: -55px;
  color: #d5618b;
  text-align: right;
  margin-right: 5%; }
/* line 51, ../components/sass/style.scss */
.h_feedback img {
  width: 100%; }
/* line 54, ../components/sass/style.scss */
.h_feedback ul {
  margin-top: 7px; }
/* line 56, ../components/sass/style.scss */
.h_feedback ul li {
  display: inline-block; }
/* line 60, ../components/sass/style.scss */
.h_feedback a {
  margin-top: 25px;
  margin-left: 10px; }

/* line 65, ../components/sass/style.scss */
.arrow {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 3%;
  z-index: -1; }
