@import 'compass/reset';
@import 'susy';

@import 'grids';
@import 'variables';
@import 'mixins';

body {font-family: 'PT Sans', sans-serif;}
a {
	text-decoration: none;
	color: $pink;
	outline:none !important;
	
	&:hover {
		color: $gray;
		transition: all 0.3s ease;
	}
}
.h_phone {
	@include span(2);
	@include push(3);
	margin-top: 10px;
	p {
		margin-top: -33px;
		margin-left: 10px;
		color: $pink;
	}
	a {
		margin-top: 23px;
		margin-left: 10px;
		display: inline-block;
	}
	img {
		width: 100%;
	}
}
.h_logo {
	@include span(2);	
	img {
		width: 100%;
	}
}
.h_feedback {	
	@include span(2);
	margin-top: 10px;
	p {
		margin-top: -55px;
		color: $pink;
		text-align: right;
		margin-right: 5%;
	}	
	img {
		width: 100%;
	}
	ul {
		margin-top: 7px;
		width: 300px;
		li {
		display: inline-block;
		margin-right: 20px;
	}
	}	
	a {
		margin-top: 25px;
		margin-left: 10px;
	}
}
.arrow {
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 3%;
	z-index: -1;
}

@mixin img-menu($left, $top) {
	position: absolute;
	top: $top;
	left: $left;

}

.img-menu {
	.menu{
	&-bird {
@include img-menu(20%, 85px);
}
	&-gallery {
@include img-menu(28%, 85px);
}
	&-bear {
@include img-menu(35%, 85px);
}
	&-about {
@include img-menu(59%, 85px);
}
	&-delivery {
@include img-menu(65%, 85px);
}
	&-bin {
@include img-menu(69%, 85px);
}
}
}
.place {
	width: 100%;
	height: 55px;
	position: absolute;
	top: 150px;
	left: 50%;
	transform: translateX(-50%);
	background: url('../img/search.png') no-repeat center center;
	background-size: 230px;
}
.search {
	position: absolute;
	top: 31%;
	left: 50%;
	transform: translateX(-50%);
	input {
		width: 150px;
		border: none !important;
		outline:none !important;
		font-family: 'Great Vibes', cursive;
	}	
}
.bed {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	img {
		margin-top: 80px;
		width: 1050px;
	}
}
.blue {
	width: 100%;
	height: 200px;
	position: relative;
	z-index: 1;
	margin-top: -30px;
	img {
		width: 100%;
	}
}
@mixin bin-close($show) {
	position: absolute;
	top: 0;
	right: 0;
	opacity: $show;
	transition: all 0.3s ease;
}

.modalbin {
	width: 70%;
	height: 600px;
	margin-top: 70px;
	background: #fff;
	.bin-header {
		position: absolute;
		margin-top: -50px;
		left: 50%;
		transform: translateX(-50%);
	}	
}
.bin-close-hover {
		@include bin-close(0);
		&:hover {
			opacity: 1;
		}
}
.bin-close {
		@include bin-close(1);
}
.bin-content {
margin-top: 30px;
}
.bin-row .item-image{
	@include span(1);
	@include push(1);
}
.bin-row .item-name {
	@include span(3);
	color: $blue;
	font-size: 14px;
	margin-left: 20px;
}
.bin-drop {
	margin-top: 5px;
	select {
		@include span(3);
		border-color: $gray-light;
		background: url(../img/sarrow.png) no-repeat right; 
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		outline:none !important;
		width: 95%;
		padding: 5px 10px;
		background-position-x: 190px;
	}
}
.bin-howmuch-text {
	@include span(3);
	margin-top: 20px;
	p {
		margin-bottom: 10px;
		font-size: 14px;
	}
}
.bin-howmuch-choose {
	@include span(1);
	margin-top: 20px;
	margin-left: -80px;
	p {
		display: inline-block;
		margin-bottom: 7px;
		font-size: 14px;
	}
	img {
		padding: 0px 5px;
	}
}
.bin-howmuch-choose2 {
	@include span(1);
	margin-top: 30px;
	width: 70px;
	text-align: center;
	p {
		display: inline-block;
		margin-bottom: 7px;
		font-size: 16px;
	}
	img {
		padding: 0px 2px;
	}
}
.bin-price {
	@include span(1);
	margin-top: 30px;
	width: 70px;
	p {
		font-weight: bold;
		color: $pink;
	}
}
.bin-cancel {
	@include span(1);
	margin-top: 30px;
}
.cancel-active {
	opacity: 0;
	&:hover {
		opacity: 1;
	}
}






